<h1>User info</h1>
  <%= image_tag current_user.get_profile_image(100,100) %>
    <p>name <%= current_user.name %></P>
    <p>introduction <%= current_user.introduction %></P>
    <p><%=link_to"プロフィール編集",edit_user_path(current_user) %></p>


<h1>New Book </h1>



<%= form_with model:@book do |f| %>
 <h4>Title</h4>
 <%= f.text_field :title %>
 <h4>Opinion</h4>
 <%= f.text_field :body %>
 <%= f.submit "Create Book" %>
<% end %>


<h1>Users</h1>
<h2>image</h2>
<h2>name</h2>
<% @users.each do |user| %>
 
   <%= image_tag user.get_profile_image(100,100) %>
   <%= user.name %>
   <%= link_to "show",user_path(user.id) %>
<% end %>